// Base Theme Colors
$color-primary : rgb(33, 33, 33);
$color-secondary : rgb(255, 255, 255);
$color-tertiary : rgb(244, 106, 8);

// Font Colors
$font-color-primary : rgb(244, 106, 8);
$font-color-secondary : rgb(255, 255, 255);